* {
  margin: 0;
  padding: 0;
}
html, body {
  background: whitesmoke;
}

.registration-key-search {
  width: 610px;
  height: 64px;
  margin: 0 1rem;
  background: #FFFFFF;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
  border: 0;
  border-radius: 50px;
  padding-left: 56px;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0.2px;

  color: #716E6E;
  z-index: 2;
}

.styled-nav-link {
    color: inherit;
    text-decoration: inherit;
}

.registration-key-search:focus {
  outline: none;
  box-shadow: 4px 4px 4px #48dbfb;
}

.label--left {
  font-weight: bold;
}


@media only screen and (max-width: 800px) {
  .registration-key-search {
    width: 80vw;
    font-size: 16px;
    height: 52px;
    padding-left: 24px;
  }
}

.hero {
    font-family: 'Brush Script MT', cursive;
    width: 100vw;
    height: 100vh;
    background: url(./hero-image.jpg);
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: -1;
}

.hero--blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(37.65% 37.65% at 50% 37.65%, rgba(255, 255, 255, 0) 0%, rgba(33, 30, 30, 0.54) 100%);
    z-index: 1;
}

.hero--title {
    font-style: normal;
    font-weight: 800;
    font-size: 96px;
    line-height: 104px;

    text-align: center;
    letter-spacing: -3px;

    color: #FFFFFF;
    z-index: 2;
}

.hero--sub-title {

    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    line-height: 77px;

    text-align: center;
    letter-spacing: -1px;

    color: #FFFFFF;
    z-index: 2;
}

.hero--call-to-action {
    width: 256px;
    height: 62px;
    margin: 3rem auto;
    border: 0;
    background: #55EFC4;
    border-radius: 16px;

    font-family: 'Brush Script MT', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;

    color: #2D3436;
    z-index: 2;
}

.hero--call-to-action:active {
    background-color: #00ffb7;
    box-shadow: 0 10px 20px rgba(0,0,0,0.05), inset 0px 10px 30px rgba(0,0,0,0.1);
}

@media only screen and (max-width: 800px) {
    .hero {
        background: url(./hero-image-mobile.jpeg);
        background-size: fill;
        background-position: center;
        background-repeat: no-repeat;
    }
}

@media only screen and (max-width: 600px) {
    .hero--blur {
        background: radial-gradient(60% 60% at 50% 37.65%, rgba(255, 255, 255, 0) 0%, rgba(33, 30, 30, 0.54) 100%);
    }
    .hero--title {
        font-size: 50px;
        line-height: 104px;
    }

    .hero--sub-title {
        font-size: 32px;
        line-height: 39px;
    }
}