* {
    margin: 0;
    padding: 0;
}

html, body {
    background: whitesmoke;
}

section {
    background: white;
}

.footer {
    background: #ecf0f1;
    padding: 2rem;
}

.footer--attribution {
    font-size: 1.1rem;
    padding: 1rem 0;
    text-align: center;
}

.footer--languages {
    font-size: 1.1rem;
    padding: 1rem 0;
    text-align: center;
}

.footer--languages span {
    color: #3498db;
    cursor: pointer;
    text-decoration: inherit;
    margin: 1rem;
}

.footer--languages span:hover {
    color: #325e60;
    text-decoration: underline;
}

.parallax-home {
    background-image: url("./desktop.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content-home {
    color: white;
    padding-top: 70vh;
    vertical-align: middle;
    text-align: center;
}

.title-home {
    text-shadow: .5rem .5rem 1rem #7f8c8d;
    font-weight: bolder !important;
}

.sub-title-home {
    font-size: 3rem !important;
    text-shadow: .5rem .5rem 1rem #7f8c8d;
    font-weight: bolder !important;
}

.nav-home {
    margin: 0 !important;
    position: fixed;
    top: 0;
    width: 100vw;
    background: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.nav-home a {
    color: inherit;
    text-decoration: inherit;
    margin: 1rem;
}

.nav-home a:hover {
    color: #325e60;
    text-decoration: underline;
}

.home--title-section {
    padding: 5rem 2rem 2rem 2rem;
    text-shadow: .5rem .5rem 1rem whitesmoke;
    vertical-align: middle;
    text-align: center;
    font-weight: bolder !important;
}

.home--main-paragraph-section {
    padding: 5rem 2rem 2rem 2rem;
    text-shadow: .5rem .5rem 1rem whitesmoke;
    text-align: center;
    font-weight: bold !important;
}


.registration-key-search {
    width: 610px;
    height: 64px;
    margin: 0 1rem;
    background: #FFFFFF;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
    border: 0;
    border-radius: 50px;
    padding-left: 32px;
    font-weight: bold;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.2px;

    color: #716E6E;
    z-index: 2;
}

.styled-nav-link {
    color: inherit;
    text-decoration: inherit;
}

.registration-key-search:focus {
    outline: none;
    box-shadow: 4px 4px 4px #48dbfb;
}

.label--left {
    font-weight: bold;
}


@media only screen and (max-width: 800px) {
    .title-home {
        font-size: 52px !important;
    }

    .sub-title-home {
        font-size: 36px !important;
    }

    .home--title-section {
        font-size: 52px !important;
    }
}

@media only screen and (min-width: 1050px) {
    .mobile-nav {
        display: none;
    }

    .parallax-home {
        background-attachment: fixed;
    }
}

@media only screen and (max-width: 1000px) {
    .nav-home {
        display: none;
    }
}

@media only screen and (max-width: 700px) {

    .title-home {
        font-size: 32px !important;
    }

    .sub-title-home {
        font-size: 18px !important;
    }

    .home--title-section {
        font-size: 32px !important;
    }
}